.play-button {
  height: 0px;
  width: 0px;
  border-left: solid darkgreen 30px;
  border-top: solid transparent 30px;
  border-bottom: solid transparent 30px;
  background-color: transparent;
  opacity: 0.5;
}

.pause-button {
  height: 60px;
  width: 40px;
  border-left: solid darkgreen 12px;
  border-right: solid darkgreen 12px;
}

.playpause {
  opacity: 0.5;
}

.playpause:hover {
  opacity: 1;
}