/* MenuItem CSS */
.menu-item {
    color: dimgrey;
    border-left:4px solid black;
}

.menu-item:hover {
    color:white
}

.menu-item.selected {
    color: white;
    border-left:4px solid gold;
}

.menu-icon {
    padding-top: 8px;
}

.menu-link {
    text-align: left;
    padding-top: 4px;
}