/* Sidebar CSS */

.sidebar-container {
    height: 100vh;
    background-color:black;
    width: 250px;
    margin-left: 0px;
    padding-left: 0px;
}

.logo-item {
    margin-bottom: 10px;
    cursor: pointer;
}

.menu-item {
    margin-bottom: 10px;
    font-size: 22px;
    cursor: pointer;
}